.box{
width: 200px;
height: 200px;
border: 2px solid rgb(0, 0, 0);
position: relative;
}
#id{
 font-size: 20px;
 position: relative; 
 left: -40px;  
}
#nome{
    font-size: 20px;
    position: relative;
    left: 65px;
    top:40px;
    
}
#email{
    font-size: 17px;
    position: relative;
    top: 48px;
    left: 30px;
}
#imgPessoa{
    position: relative;
    top:55px;
    left: 45px;
    width: 100px;

}

.container{
    /* position: relative;
    left:300px; */
    border: 2px solid;
   
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    width: 500%;
   
}